body {
  font-family: 'Times New Roman', sans-serif;
}

header {
  background-color: #cccccc;
  padding: 20px 0;
}

.container-header {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

nav {
  position: absolute;
  top: 110px;
  right: 0;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

nav a:hover {
  color: orange;
  text-decoration: underline;
}

.title-principal {
  padding-left: 30px;
  font-weight: bold;
  font-size: 18px;
}

#banner {
  width: 100%;
}

.principal {
  background-color: #cccccc;
  padding: 30px;
}

p {
  text-align: center;
}

#missao {
  font-size: 20px;
}

em strong {
  color: #d51d1d;
}

.title-center {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}

.beneficios {
  background-color: white;
  padding: 20px;
}

.ul-navegacao {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.itens {
  font-style: italic;
}

.img-beneficios {
  width: 50%;
}

footer {
  text-align: center;
  background-image: url(../img/bg.jpg);
  padding: 40px 0;
}

.copyright {
  color: white;
  font-size: 13px;
  margin-top: 20px;
}
