@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

/* header */

header {
  background-color: #cccccc;
  padding: 20px 0;
}

.container-header {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

nav {
  position: absolute;
  top: 110px;
  right: 0;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

nav a:hover {
  color: orange;
  text-decoration: underline;
}

main {
  width: 940px;
  margin: 0 auto;
}

/* main e form*/

.formulario {
  margin: 40px 0;
}

.formulario label,
legend {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
}

.input-padrao {
  display: block;
  margin-bottom: 20px;
  padding: 10px 25px;
  width: 50%;
}

.checkbox {
  margin: 20px 0;
}

.botao-submit {
  width: 40%;
  padding: 15px;
  background-color: orange;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 6px;
  transition: 1s all;
  cursor: pointer;
}

.botao-submit:hover {
  background-color: rgb(247, 95, 12);
  transform: scale(1.2);
}

/* table */

table {
  margin: 20px 0 40px;
}
thead {
  background-color: rgb(72, 69, 69);
  color: white;
  font-weight: bold;
}

td,
th {
  border: 1px solid black;
  padding: 8px 15px;
}

.div-horario select {
  background: transparent;
  width: 268px;
  padding: 5px;
  font-size: 16px;
  border: 2px solid gray;
  border-radius: 5px;
  height: 34px;
}

/* footer */

footer {
  text-align: center;
  background-image: url(../img/bg.jpg);
  padding: 40px 0;
}

.copyright {
  color: white;
  font-size: 13px;
  margin-top: 20px;
}

/*repositivo*/

@media screen and (min-device-width: 340px) and (max-device-width: 481px) {
  .container-header,
  footer {
    width: auto;
  }

  h1 {
    text-align: center;
  }

  nav {
    position: static;
    text-align: center;
  }

  nav a {
    font-size: 19px;
  }

  .input-padrao,
  .formulario label,
  .div-horario {
    width: 33%;
    margin-left: px;
  }

  .container-contato {
    margin-left: 10px;
  }

  table {
    width: 30%;
    margin: 0 0 20px 45px;
  }

  .botao-submit {
    width: 30%;
    margin: 0 0 0 45px;
  }
}

@media screen and (min-device-width: 482px) and (max-device-width: 950px) {
  .container-header,
  footer{
    width: auto;
  }

  h1 {
    text-align: center;
  }

  nav {
    position: static;
    text-align: center;
  }

  .input-padrao,
  .formulario label,
  .div-horario {
    width: 50%;
    margin: 20px;
  }

  .container-contato {
    margin-left: 20px;
  }

  table {
    width: 40%;
    margin: 0 0 10px 28%;
  }

  .botao-submit {
    width: 50%;
    margin-left: 22%;
  }
}
